*{
    font-family: sans-serif;
}
.container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: gray;
}
.flex-item{
    flex-basis: 200px;
    padding: 20px;
    margin: 20px;
    background-color: darkgray;
    font-size: 2rem;
    text-align: center;
}
#ok{
    color:red;
    border: 2px solid red;
}
#cancel {
    color: white;
    background-color: black;
}
#no {
    color: black;
    border: 2px solid gray;
}
.toggleOn{
    background-color: white;
}
.toggleOff{
    background-color: darkgray;
}
